body {
    font-family: "Montserrat";
}

#title {
background-color: green;
color:#fff;
}

.container-fluid{
    padding: 3% 15%;
}
 h1 {
    font-family: "Montserrat-Black";
    font-size: 3.5 rem;
    line-height: 1.5;
}
h2 {
font-family: "Montserrat-Black";
font-size: 3rem;
line-height: 1.5; 
}
h3 { 
    font-family: "Montserrat-Bold";
    font-size: 1.5rem;
}
p {
  color: #8f8f8f;
}

.navbar {
    padding: 0 0 4.5rem;
 }

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 3.5rem;
    font-weight: bold;
}
.nav-item {
    padding: 0 18px;
} 

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

.download-button {
    margin: 5% 3% 5% 0;
}

.title-image {
width: 130%;

    /* transform: rotate(1deg); */


}

/*features section*/

#features {
    padding: 7% 15%;
}

.feature-box {
    text-align: center;
    padding: 5%;
}
.fas {
    color: green;
    margin-bottom: 1rem;
}
.fas:hover {
    color: yellow;
}

/* Testimonial Section */
#testimonials {
    text-align: center;
    background-color: #68ac6c;
    color: #fff;
}

/* .testimonials-image {
    width: 10%;
    border-radius: 200%;
    margin: 20px;
    
} */

.carousel-item {
padding: 7% 15%;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}
.button{
    background-color: #68ac6c;
}
/* CTA SECTION */
#cta {
    background-color: green;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
}
.cta-heading {
    font-family: "Montserrat-Black";
    font-size:3.5rem;
    line-height: 1.5;
}
/* footer section */

#footer {
    padding:7% 15%;
    text-align: center;
} 
.social-icon {
    margin: 20px 10px;
}



/* Extra login page creation */

/* Made with love by Mutiullah Samim*/

/* @import url('https://fonts.googleapis.com/css?family=Numans');

.container {
background-image: url("avc.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
} */